@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Josefin Sans", sans-serif;
}

#noise {
    position: fixed;
    width: 100svw;
    height: 100svh;
    background-image: url('./img/noise.gif');
    z-index: -1;
    opacity: 0.2;
}

#app {
    display: block;
    min-height: 100svh;
    overflow-x: hidden;
}

h1 {
    font-size: 80px;
    font-weight: 300;
    margin:0;
}

h2 {
    font-size: 60px;
    margin: 0;
    font-weight: 300;
}